.footer {
    border-top: 1px solid var(--grey-color);
    color: rgb(128, 125, 125);
    font-size: 14px;
    padding: 10px 0 10px;

    .footer-section {
        display: flex;
        flex-wrap: wrap;
        margin-top: 4px;
    }

    .item {
        margin: 4px 16px;

        &:hover,
        &:active {
            color: var(--primary);
            cursor: pointer;
        }
    }
}
