.wrapper {
    // display: inline-block;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.video-container {
    position: relative;
    width: 351px;
    height: 624px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    // overflow: hidden;

    &:hover {
        cursor: pointer;
    }
}

.video {
    border-radius: 10px;
    // height: auto;
    position: relative;
    object-fit: cover;
}

.video-icons {
    position: absolute;
    bottom: 0;
    right: -45px;
    display: flex;
    flex-direction: column;
}

.icon {
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
    transition: all ease-in 0.2s;

    &:hover {
        transform: scale(1.3);
    }
}

// .react-icon {
//     position: relative;

//     &::after {
//         content: '';
//         position: absolute;
//         top: -35px;
//         left: 0;
//         width: 300px;
//         height: 70px;
//         z-index: -1;

//         .sub-react-icons {
//             display: none;
//         }
//     }

//     &:hover::after .sub-react-icons {
//         display: flex;
//     }
// }

// .sub-react-icons {
//     position: absolute;
//     top: -14px;
//     left: 30px;
// }

.react-icon {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: -35px;
        left: 0;
        width: 300px;
        height: 70px;
        z-index: -1;
    }

    &:hover .sub-react-icons {
        display: flex;
    }
}

.sub-react-icons {
    position: absolute;
    top: -14px;
    left: 30px;
    display: none;
}

.sub-icon {
    width: 26px;
    height: 26px;
    margin-right: 8px;
    transition: all ease-in 0.2s;

    &:first-child {
        width: 32px;
        height: 32px;
        transform: translateY(-3px);
    }

    &:hover {
        transform: scale(1.2);
    }
}

//SAVE ICON

.save-icon {
    position: relative;
    transition: all ease-in 0.2s;

    &:hover {
        transform: scale(1.2);
    }

    &::after {
        content: '';
        position: absolute;
        top: -40px;
        left: 0;
        width: 235px;
        height: 70px;
        z-index: -1;
    }

    &:hover .playlists {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.playlists {
    position: absolute;
    display: none;
    top: -30px;
    left: 40px;

    & span {
        font-size: var(--caption);
        display: inline-block;
        padding-left: 5px;
    }
}

.playlist {
    width: 50px;
    height: 50px;
    margin-right: 12px;
    transition: all ease-in 0.2s;

    &:hover {
        transform: scale(1.2);
    }
}

.addPlaylist {
    padding-left: 5px;
    margin-bottom: 30px;
    font-size: 12px;
    height: 30px;
    width: 70px;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 50px;
}
//

.info-container {
    // position: relative;
    max-width: 350px;
}

.creator {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.creator-info {
    display: flex;
    align-items: center;
}

.creator-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    transition: all ease-in 0.2s;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.creator-name {
    margin-left: 10px;
    font-size: var(--title);
    cursor: pointer;
}

.btn {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--primary);
    padding: 5px 10px;
    margin-left: 30px;
    border-radius: 5px;
    transition: all ease-in 0.2s;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.info {
    padding-left: 50px;
}

.title {
    line-height: 120%;
    margin-top: 10px;
    //limit-row;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hashtag {
    color: var(--grey-color);
    font-size: var(--caption);
    margin-bottom: 10px;
    cursor: pointer;
}

.desc {
    font-size: 14px;
    color: var(--grey-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;

    span {
        margin-left: 16px;
    }
}
